<!DOCTYPE html>
<html>
<head>
{%include "common/base.html" %}
{% comment %}<link rel="stylesheet" type="text/css" href="/static/css/top-page/top-page.css" />
<script src="/static/js/top-page/top-page.js"></script>{% endcomment %}
</head>
<body style="margin: 0; padding: 0;">
<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <div class="top row">
                <div class="span3 logo">
                    <a href="#"><img src="http://www.divcss5.com/statics/images/divcss5-logo-2014.gif" alt="" data-bd-imgshare-binded="1"></a>
                </div>
                <div class="span5 hd-search">
                    <form action="">
                        <div class="input-text">
                            <input type="text" value="查找您需要的CSS信息">
                            <input type="submit" value="搜索">
                        </div>
                    </form>
                </div>
                <div class="span4 hd-ad">
                    <a href="http://www.divcss5.com/peixun/" title="DIVCSS5培训 系统快速学会CSS布局技术！" target="_blank"><img src="http://www.divcss5.com/statics/images/px.gif" width="468" height="60" alt="DIVCSS5培训 系统快速学会CSS布局技术！" data-bd-imgshare-binded="1"></a>
                </div>
            </div>
            <div class="site-nav" id="sitenav">
                <a class="m-logo show-in-phone fl" href="#"><img style="margin-top: 3px;" width="90" src="http://www.divcss5.com/statics/images/divcss5-logo-2014.gif" alt="" data-bd-imgshare-binded="1"></a>
                    <button type="button" class="btn btn-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active">
                            <a href="http://www.divcss5.com/">首页</a>
                        </li>
                        <li class="">
                            <a href="http://www.divcss5.com/html/">HTML基础</a>
                        </li>
                        <li class="">
                            <a href="http://www.divcss5.com/htmlrumen/">HTML入门</a>
                        </li>
                        <li class="">
                            <a href="http://www.divcss5.com/html5/">HTML5</a>
                        </li>
                        <li class="">
                            <a href="http://www.divcss5.com/rumen/">CSS基础</a>
                        </li>
                        <li class="">
                            <a href="http://www.divcss5.com/cssrumen/">CSS入门</a>
                        </li>
                        <li class="">
                            <a href="http://www.divcss5.com/css3-style/">CSS3</a>
                        </li>
                        <li class="">
                            <a href="http://www.divcss5.com/css-hack/">CSS Hack</a>
                        </li>
                        <li class="">
                            <a href="http://www.divcss5.com/css-tool/">CSS工具</a>
                        </li>
                        <li class="">
                            <a href="http://www.divcss5.com/css-jiaocheng/">CSS教程</a>
                        </li>
                        <li class="">
                            <a href="http://www.divcss5.com/css-ps/" title="css Photoshop切图教程">PS教程</a>
                        </li>
                        <li class="">
                            <a href="http://www.divcss5.com/w3c/">WEB标准</a>
                        </li>
                        <li class="">
                            <a href="http://www.divcss5.com/jiqiao/" title="DIV+CSS技巧">CSS技巧</a>
                        </li>
                        <li class="">
                            <a href="http://www.divcss5.com/template/" title="网页局部CSS模块">CSS模块</a>
                        </li>
                        <li class="">
                            <a href="http://www.divcss5.com/css-texiao/" title="JS+CSS特效">CSS特效</a>
                        </li>
                        <li class="">
                        <a href="http://www.divcss5.com/shili/">CSS实例</a>
                        </li>
                        <li class="">
                            <a href="http://www.divcss5.com/wenji/">CSS问题</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>