<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="/static/js/common/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script src="/static/js/common/bootstrap-4.3.1/bootstrap.js"></script>
<script src="/static/js/common/bootstrap-4.3.1/bootstrap.bundle.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/common/bootstrap-4.3.1/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/static/css/common/bootstrap-4.3.1/bootstrap-grid.css" />
<link rel="stylesheet" type="text/css" href="/static/css/common/bootstrap-4.3.1/bootstrap-reboot.css" />